services:
  nginx:
    image: nginx:latest
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./conf/nginx.conf:/etc/nginx/nginx.conf
      - ./conf/conf.d:/etc/nginx/conf.d
      - ./cert:/opt/cert
      - ./logs:/var/log/nginx
